body {
    height: 100%; 
    font-family: 'Noto Sans', sans-serif;
    background-color: #ffffff; 
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #000000 2px solid;
}
.menu-ul {
    display: flex;
    justify-content: flex-start;
}
ul li {
    list-style: none;
    border: solid 2px;
    border-bottom: solid 4px;
    color: #000000;
}

ul li:hover {
    background-color: #9ac7ec;
    border-color: #6096c2;
}

ul li a{
    color:#000000;
    margin: 40px;
    padding: 10px;
    text-decoration: none;
}
.usuario{
    display:flex;
    justify-content:center;
    align-items:center;
}
.nombre-usuario{
    margin-left:10px;
}
#btn_buscador{
    width: 40px;
    height: 40px;
}
#buscador{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
img{
    width: 30px;
    height: 30px;
}
.input_cliente{
    width: 300px;
    height: 35px;
    margin:10px;
}
